.popupCard {
    background-color: #000; /* Black background */
    border: 2px solid #FFD700; /* Golden border */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1000;
    width: 200px; /* Adjust the width as needed */
  }
  
  .popupContent {
    text-align: center;
    color: white; /* White text color */
  }
  
  .okButton {
    background-color: gold;
    color: #222;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .okButton:hover {
    background-color: black;
    color:gold;
  }
  