
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../../../public/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-top: 40px;
    background-color: #f2a900;
    color:black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); 
  }
  
  .h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px; /* Curved input boxes */
    font-size: 16px;
    background-color: #f0f0f0; /* Light gray background color */
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding-left: 16px;
  }
  
  .input:focus {
    background-color: #e0e0e0; /* Slightly darker background on focus */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }

  .smallInput {
    width: 50%; /* Reduce input field width for username and email */
  }
  .activeLink {
    color: #f2a900 !important; /* Change the color to indicate the active link */
    font-weight: bold; /* You can also make the text bold */
  }
  
  
  .header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  .nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #f2a900;
  }
