/* GenerateQR.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../../../public/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header styles */
.header {
  background-color: black;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 25px;
}

/* Navigation styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

.qr-generator {
  text-align: center;
}

.generate-button {
  margin-top: 20px;
  background-color: gold;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.generate-button:hover {
  background-color: black;
  color: gold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.qr {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: gold;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-buttons {
  margin-top: 20px;
}

.popup-buttons button {
  background-color: gold;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popup-buttons button:hover {
  background-color: black;
  color: gold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
