/* sellmedicine.module.css */
.container {
    display: flex;
    padding-top: 200px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../../../public/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header styles */
.header {
    background-color: black;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 25px;
}

/* Navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.sell-medicine-page {
    text-align: center;
    padding-top: 30px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Example elegant font */
}

.h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: gold;
    font-weight: normal;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Example elegant font */
}

.medicine-card {
    border: 1px solid gold;
    border-radius: 10px;
    background-color: black;
    color: gold;
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.input-field {
    margin-bottom: 20px;
}
.input-field-image{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid gold;
    border-radius: 5px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Example elegant font */
    color: white;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    color: gold;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid gold;
    border-radius: 5px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Example elegant font */
    color: black;
}

.sell-button {
    background-color: gold;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sell-button:hover {
    background-color: black;
    color: gold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
